.footer-section {
    display: flex;
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
    justify-content: center;
    justify-content: space-around;
    border-radius: 5%;
    margin-top: 50px;
}

button {
    border: none;
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin-top: 25px;
    font-weight: 700;
}

p {
    font-family: sans-serif;
}

.footer-btns {
    display: flex;
    flex-direction: column;
}



