img {
    width: 100px;
}

li {
    list-style: none;
}

h1 {
    font-family: sans-serif;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}