<section>
    <div class="home-section1">
        <div>
            <img src= 'https://i.ibb.co/sQkYD6V/4819837-HSC00001-7.jpg' class="home-img1"/>
            <p>"The fact is that Spinoza is made a testing-point in <br/> modern philosophy, so that it may really be said: <br/> You are either a Spinozist or not a philosopher at all"</p>
            <h4>Hegel on Spinoza</h4>
        </div>
        <div>
           <h2>About Us</h2> 
            <p class="about-us-p">This is an online book shop that sells a variety of book genres.<br/> We make it our priority to serve our customers in meeting their needs.<br/> You're looking for a book that you can't seem to discover?<br/>You've arrived to the right place. We've got tons of books where you can't count!<br/> Take a quick look, will you?</p>
            <button routerLink="/aboutus">About Us</button>
        </div>
    </div>
</section>

<section>
    <div class="home-section1">
        <div>
           <h2>Store</h2> 
            <p class="about-us-p">Would like to explore new minds?<br/> Hit the store button, and you shoot your vision towards <br/> numerous mindset who will utterly change your life<br/> You're looking for a book that you can't seem to discover?<br/>You've landed yourself on the right place.<br/> Take a quick look, will you?</p>
            <button routerLink="/store">Store</button>
        </div>
        <div>
            <img src= 'https://i.ibb.co/W6t3DWX/Abraham-Janssens-Heraclitus.jpg' class="home-img1"/>
            <p>"I have a great tederness for the latter <br/> philosopher [Heraclitus], and of <br/> the ancients I only prefer Aristotle more"</p>
            <h4>Karl Marx on Heraclitus</h4>
        </div>
    </div>
</section>

<section>
    <div class="home-section1">
        <div>
            <img src= 'https://i.ibb.co/FWhj7PR/Dostoevsky-1872.jpg' class="home-img1"/>
            <p>“the only person who has ever taught me anything about psychology”</p>
            <h4>Nietzsche on Dostoevsky</h4>
        </div>
        <div>
           <h2>Contact Us</h2> 
            <p class="about-us-p">Have you got any question?<br/> Make sure to send us a message, and <br/> we will responding as soon as possbile<br/> What are you waiting for? Submit your question!</p>
            <button routerLink="/contactus">Contact Us</button>
        </div>
    </div>
</section>
